@model IEnumerable<MoviesWebSite.Models.Movie>
@{
    ViewData["Title"] = "Komedi";
}
<h1 class="Moviecatagories">Komedi</h1>

<table class="table">
    <tbody>
        <div class="containerListele">
            @foreach (var item in Model)
            {
                    <div class="ForDonguDıvı">
                        <dl class="row">
                            <dt class="col-sm-2">
                               Adı
                            </dt>
                            <dd class="col-sm-10">
                            @Html.DisplayFor(modelItem => item.Name)
                            </dd>
                            <dt class="col-sm-2">
                              Film Katagorisi
                            </dt>
                            <dd class="col-sm-10">
                            @Html.DisplayFor(modelItem => item.MovieCatagories)
                            </dd>
                            <dt class="col-sm-2">
                          Yazar
                            </dt>
                            <dd class="col-sm-10">
                            @Html.DisplayFor(modelItem => item.MovieYazar)
                            </dd>
                            <dt class="col-sm-2">IMDB
                            </dt>
                            <dd class="col-sm-10">
                            @Html.DisplayFor(modelItem => item.MovieIMDB)
                            </dd>
                            <dt class="col-sm-2">
                             Kısa Bilgilendirme
                            </dt>
                            <dd class="col-sm-10">
                            @Html.DisplayFor(modelItem => item.Hakkında)
                            </dd>                       
                            <dd>
                                    <a style="margin-left:17%;" asp-action="Detaylar" asp-controller="Movies" asp-route-id="@item.Id">Detaylar</a>
                            </dd>
                        </dl>
                    </div>
            }
        </div>
    </tbody>
</table>

